<div class="container mx-auto">
  <p class="mt-5">
  <h4 class="mb-5"><strong class="bg-light px-3">注文情報入力画面</strong></h4>
</div>

<h3><strong>支払方法</strong></h3>
<div class="container">
  <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
  <label>
    <%= f.radio_button :payment_method, "credit", checked: true %>クレジットカード
    <%= f.radio_button :payment_method, "bank", checked: false %>銀行振込
  </label>
</div>